{% extends "header.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="well well-sm" style="min-height:100%; max-width:80%; margin:auto">
            <div role="tabpanel" id="vm-names">
                {% include 'vmsearch.html' %}
                <br>
                    <div id="table">
                        {% include 'vmtable.html' %}
                    </div>
                <script>
                    $(document).ready(function () {
                        var socket = io.connect('http://' + document.domain + ':' + location.port);
                        socket.on('semit', function (data) {
                            $("#table").html(data);
                        });
                        socket.on('connect', function(){
                        socket.emit('sockets', null);
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}